.task1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form {
    width: 500px;
    background-color: rgb(90, 199, 157);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-size: 40px;
}

label{
    color: rgb(70, 55, 55);
    font-size: 22px;
    padding: 10px;
}

input{
    padding: 10px;
    font-size: 16px;
}

button{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    background-color: rgb(19, 136, 120);
    color: white;
    border-radius: 10px;
    border: 0;
}

#place{
    width: 545px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: rgb(31, 32, 32);
    text-shadow: none;
    background-color: rgb(158, 216, 213);
}

.task2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 600px;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
}

.content p{
    font-size: 20px;
    color: white;
}

.great{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1{
    font-size: 30px;
    text-shadow: none;
    color: black;
}

#RowForm{
    margin-top: 30px;
    width: 80%;
    display: none;
}

.table{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table{
    width: 80%;
    border: 1px solid gray;
    border-collapse: collapse;
}

td, th{
    border: 1px solid gray;
    padding: 5px;
}